.puzzle_container {
    width: 640px;
    margin: auto;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}

.puzzle_type_hr {
    height: 2px;
    border: none;
    background: #707070;
}


.puzzle_main {
    font-size: 27px;
    font-weight: 500;
    text-align: center;
}

.keyword {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.prompt {
    font-size: 27px;
    font-weight: 500;
    text-align: center;
}

.puzzle_input {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.puzzle_option.correct,
.puzzle_input.correct {
    background: #dffff2;
    border-color: #00d397;
}

.puzzle_option.incorrect,
.puzzle_input.incorrect {
    background: #FFEBEB;
    border-color: #FF4A4A;
}

.puzzle_option.selected {
    background: #E6F4FE;
    border-color: #0084FF;
}

.next_button {
    margin: auto;
    width: 250px;
    height: 65px;
    background: #553f9a;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.puzzle_option {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}